.banner{
       
}
.banner img{
    width: 100%;
    height: 700px;
    
}
.figcaption-content{
    position: absolute;
    top: 50%;
    color: white;
    
}
.figcaption-content h1{
    font-size: 52px;
    font-weight: bold;
}